In [1]:
import pandas as pd

/Users/umeshregmi/miniconda3/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv('titanic.csv')

### read the titanic data set
### find null values in each column
### get rid of column with large null values
### fill null values in age column
### fill null values in Fare column
### fill null values in Embarked column
### check the number of male population and female population
### check nuber of survived and dead people
### check number of survived male and dead male
### check number of survived female and dead female
### check number of male whose age is greater than 80
### check number of female who age is in between 30 and 50
### check the number of embarked places
### check how many people departed from S, C and Q port
### change fare and age column to int 
### check number of people whose sibsp count was 1

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df.drop('Cabin', axis=1, inplace=True)

In [5]:
df.Age.isnull().sum()

177

In [6]:
df.Fare.isna().sum()

0

In [7]:
df.Embarked.isnull().sum()

2

In [8]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [9]:
df.Sex.value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [11]:
df.Sex.value_counts().loc['male']

577

In [12]:
df.Sex.value_counts().loc['female']

314

In [14]:
(df.Sex == 'male').sum()

577

In [15]:
(df.Sex == 'female').sum()

314

In [16]:
(df.Survived == 0).sum()

549

In [17]:
(df.Survived == 1).sum()

342

In [18]:
df.Age.fillna(df.Age.mean(), inplace=True)

In [19]:
df.Fare.fillna(df.Fare.mean(), inplace=True)

In [20]:
df.Age.mean()

29.69911764705882

In [21]:
df.Fare.mean()

32.204207968574636

In [25]:
df.Embarked.mode().iloc[0]

'S'

In [26]:
df.Embarked.fillna(df.Embarked.mode().iloc[0], inplace=True)

In [27]:
((df.Survived == 1) & (df.Sex == 'male')).sum()

109

In [29]:
((df.Survived == 0) & (df.Sex == 'male')).sum()

468

In [30]:
((df.Survived == 1) & (df.Sex == 'female')).sum()

233

In [33]:
((df.Sex == 'male') & (df.Age > 80)).sum()

0

In [34]:
((df.Sex == 'female') & (df.Age >= 30) & (df.Age <= 50)).sum()

97

In [35]:
df.Embarked.unique()

array(['S', 'C', 'Q'], dtype=object)

In [36]:
df.Embarked.value_counts()

Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [40]:
(df.Embarked == 'S').sum()

646

In [41]:
(df.Embarked == 'C').sum()

168

In [42]:
(df.Embarked == 'Q').sum()

77

In [43]:
df.Fare = df.Fare.astype('int')

In [44]:
df.Age = df.Age.astype('int')

In [45]:
df.Age

0      22
1      38
2      26
3      35
4      35
       ..
886    27
887    19
888    29
889    26
890    32
Name: Age, Length: 891, dtype: int64

In [46]:
(df.SibSp == 1).sum()

209

In [48]:
df.Age.between(30, 50).sum()

266

In [50]:
df.Age.between(30, 50, 'left').sum()

256

In [51]:
df = pd.read_csv('googleplaystore.csv')

In [52]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

### get rid of null values from each column
## find number of categories
## find type of apps
## find number of free and paid apps
### find highest price of the app
## find average rating of the app
## find the highest rating and lowest rating
### find app whose rating is >= 4
### find apps whose rating is >=3 and <= 4
### find content rating unique values
### find education category app number