In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Dataset/Sleep_health_and_lifestyle_dataset.csv')

In [3]:
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [4]:
df.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [5]:
df.drop(['Sleep Disorder'], axis=1, inplace=True)

In [6]:
df.shape

(374, 12)

In [7]:
# total number of male and female
df['Gender'].value_counts()

Gender
Male      189
Female    185
Name: count, dtype: int64

In [8]:
# total number of Software Engineer
df['Occupation'].value_counts()['Software Engineer']

4

In [9]:
# total number of unique occupation
df['Occupation'].nunique()

11

In [10]:
# total number of people are overweight
df['BMI Category'].value_counts()['Overweight']

148

In [11]:
# total number of people who are obese
df['BMI Category'].value_counts()['Obese']

10

In [12]:
# total number of people whose heart rate is >= 60 and <= 80
((df['Heart Rate'] >= 60) & (df['Heart Rate'] <= 80)).sum()

362

In [13]:
# total numeber of people whose activity level is greater than 30
(df['Physical Activity Level'] > 30).sum()

306

In [14]:
# highest activity level and people belonging to that category
df['Physical Activity Level'].max()

90

In [15]:
new_blood_pressure = df['Blood Pressure'].str.split('/')

In [16]:
new_blood_pressure[0][0]

'126'

In [17]:
new_blood_pressure = df['Blood Pressure'].str.split('/')

In [18]:
new_blood_pressure

0      [126, 83]
1      [125, 80]
2      [125, 80]
3      [140, 90]
4      [140, 90]
         ...
369    [140, 95]
370    [140, 95]
371    [140, 95]
372    [140, 95]
373    [140, 95]
Name: Blood Pressure, Length: 374, dtype: object

In [19]:
df.insert(9,'Systolic Blood Pressure', new_blood_pressure[0][0])

In [20]:
df.insert(10,'Diatolic Blood Pressure', new_blood_pressure[0][1])

In [21]:
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Systolic Blood Pressure,Diatolic Blood Pressure,Blood Pressure,Heart Rate,Daily Steps
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126,83,126/83,77,4200
1,2,Male,28,Doctor,6.2,6,60,8,Normal,126,83,125/80,75,10000
2,3,Male,28,Doctor,6.2,6,60,8,Normal,126,83,125/80,75,10000
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,126,83,140/90,85,3000
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,126,83,140/90,85,3000

In [23]:
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Systolic Blood Pressure,Diatolic Blood Pressure,Blood Pressure,Heart Rate,Daily Steps
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126,83,126/83,77,4200
1,2,Male,28,Doctor,6.2,6,60,8,Normal,126,83,125/80,75,10000
2,3,Male,28,Doctor,6.2,6,60,8,Normal,126,83,125/80,75,10000
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,126,83,140/90,85,3000
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,126,83,140/90,85,3000

In [26]:
# correlation between sysolic and diastolic blood pressure and heatrate
# df.corr(numeric_only=True)[['Systolic Blood Pressure', 'Diastolic Blood Pressure', 'Heart Rate']]
corr_df = df[['Systolic Blood Pressure', 'Diastolic Blood Pressure', 'Heart Rate']]

KeyError: "['Diastolic Blood Pressure'] not in index"

In [25]:
# corr between quality of sleep, sleep duration and heart rate
df.corr(numeric_only=True)[['Quality of Sleep', 'Sleep Duration', 'Heart Rate']]

                         Quality of Sleep  Sleep Duration  Heart Rate
Person ID                        0.431612        0.296305   -0.225467
Age                              0.473734        0.344709   -0.225606
Sleep Duration                   0.883213        1.000000   -0.516455
Quality of Sleep                 1.000000        0.883213   -0.659865
Physical Activity Level          0.192896        0.212360    0.136971
Stress Level                    -0.898752       -0.811023    0.670026
Heart Rate                      -0.659865       -0.516455    1.000000
Daily Steps                      0.016791       -0.039533   -0.030309