In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('results.csv')

In [4]:
df.head

<bound method NDFrame.head of               home_team         away_team  home_goals  away_goals result  \
0      Sheffield United         Liverpool         1.0         1.0      D
1               Arsenal       Aston Villa         1.0         1.0      D
2               Everton           Watford         2.0         1.0      H
3      Newcastle United    Wigan Athletic         2.0         1.0      H
4            Portsmouth  Blackburn Rovers         3.0         0.0      H
...                 ...               ...         ...         ...    ...
4555   Newcastle United           Chelsea         3.0         0.0      H
4556        Southampton   Manchester City         0.0         1.0      A
4557       Swansea City        Stoke City         1.0         2.0      A
4558  Tottenham Hotspur    Leicester City         5.0         4.0      H
4559    West Ham United           Everton         3.0         1.0      H

         season
0     2006-2007
1     2006-2007
2     2006-2007
3     2006-2007
4     2006-2007
...         ...
4555  2017-2018
4556  2017-2018
4557  2017-2018
4558  2017-2018
4559  2017-2018

[4560 rows x 6 columns]>